<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loket</title>
</head>

<body>
    <h1>{{is_changes}}</h1>
    <ul id="changes">
    </ul>
    <ul>
        <h4>Python function</h4>
        {% for change in changes %}
        <li>
            {{change}}
        </li>
        {% endfor %}
    </ul>
    <script>
        var moneys = "{{ moneys|escapejs }}".replace(/\[|\]/g, '');
        var sum = "{{sum}}"
        var moneys_arr = moneys.split(',').map(function (item) {
            return parseInt(item);
        });
        function getSubsets(array, sum) {
            function fork(i = 0, s = 0, t = []) {
                if (s === sum) {
                    result.push(t);
                    return;
                }
                if (i === array.length) {
                    return;
                }
                if (s + array[i] <= sum) {
                    // console.log(t);
                    fork(i + 1, s + array[i], t.concat(array[i]));
                }
                fork(i + 1, s, t);
            }
            var result = [];
            fork();
            return result;
        }
        var changes = getSubsets(moneys_arr, parseInt(sum))
        var li = changes.map((change) => {
            return `<li>${change}</li>`
        })
        document.getElementById('changes').innerHTML = `<h4>Javascript Function:</h4> ${li}`
    </script>
</body>

</html>